---
layout: page
title: Hi, I am Sunil
subtitle: An Aerospace Engineer and electronics enthusiast
use-site-title: true
---
<br> 
{% include pp.html %}
{% include image_slider.html %}
<br>
<p align="justify">I believe that one could find a solution to every problem through nature. What if we could mimic the locomotion of a 
cheetah or predict the behavior of a swarm of bees?. This is  where mathematics plays a vital role. My dream is to design 
mathematical models for such cases and to implement them in real-life applications (bio-inspired robotics).</p>

<p align="justify">Would love to collaborate in the field of biorobotics, remote sensing, ecology. I can be reached via
my email at: <b>vssunilraj@gmail.com</p></b>


