<div class="project">
    <div class="row">
       <div class="col-lg-4">
            <div class="single-project">
                <a href="#" title="{{ filename }}">
                    <img src="{{ '/images/squid.jpeg' | relative_url }}" />
                    <div class="project-caption">
                        <p>Locomotion of a Squid</p>
                    </div>
                </a>
            </div>
        </div>
       <div class="col-lg-4">
            <div class="single-project">
                <a href="#" title="{{ filename }}">
                    <img src="{{ '/images/fibers.jpg' | relative_url }}" />
                    <div class="project-caption">
                        <p>Effect of chopped carbon fibre reinforced with natural fibres</p>
                    </div>
                </a>
            </div>
        </div>
       <div class="col-lg-4">
            <div class="single-project">
                <a href="#" title="{{ filename }}">
                    <img src="{{ '/images/biomass.jpg' | relative_url }}" />
                    <div class="project-caption">
                        <p> Vegetation Index and Above Ground Biomass Estimation using SAR Imagery</p>
                    </div>
                </a>
            </div>
        </div>
       <div class="col-lg-4">
            <div class="single-project">
                <a href="#" title="{{ filename }}">
                    <img src="{{ '/images/rot.JPG.jpg' | relative_url }}" />
                    <div class="project-caption">
                        <p>VTOL UAV</p>
                    </div>
                </a>
            </div>
        </div>
       <div class="col-lg-4">
            <div class="single-project">
                <a href="#" title="{{ filename }}">
                    <img src="{{ '/images/rot.JPG.jpg' | relative_url }}" />
                    <div class="project-caption">
                        <p>1U Cubesat</p>
                    </div>
                </a>
            </div>
        </div>
       <div class="col-lg-4">
            <div class="single-project">
                <a href="#" title="{{ filename }}">
                    <img src="{{ '/images/rot.JPG.jpg' | relative_url }}" />
                    <div class="project-caption">
                        <p>Project One</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- gallery slider -->
