<div class="row">
    <div class="col-lg-4">
        <a href="#" title="{{ filename }}">
            <img src="{{ '/images/rot.JPG.jpg' | relative_url }}" />
        </a>
    </div>
    <div class="col-lg-4">
        <a href="#" title="{{ filename }}">
            <img src="{{ '/images/rot.JPG.jpg' | relative_url }}" />
        </a>
    </div>
    <div class="col-lg-4">
        <a href="#" title="{{ filename }}">
            <img src="{{ '/images/rot.JPG.jpg' | relative_url }}" />
        </a>
    </div>
    <div class="col-lg-4">
        <a href="#" title="{{ filename }}">
            <img src="{{ '/images/rot.JPG.jpg' | relative_url }}" />
        </a>
    </div>
    <div class="col-lg-4">
        <a href="#" title="{{ filename }}">
            <img src="{{ '/images/rot.JPG.jpg' | relative_url }}" />
        </a>
    </div>
</div>

<!-- gallery slider -->