<div class="project">
    <div class="row">
       <div class="col-lg-4">
            <div class="single-project">
                <a href="https://pvsslr.github.io/tutorials/cubesat/" title="{{ filename }}">
                    <img src="{{ '/images/nd_squid.png' | relative_url }}" />
                    <div class="project-caption">
                        
                    </div>
                
                </a>
            </div>
        </div>
       <div class="col-lg-4">
            <div class="single-project">
                <a href="#" title="{{ filename }}">
                    <img src="{{ '/images/fibers.jpg' | relative_url }}" />
                    <div class="project-caption">
                        
                    </div>
                </a>
            </div>
        </div>
       <div class="col-lg-4">
            <div class="single-project">
                <a href="#" title="{{ filename }}">
                    <img src="{{ '/images/biomass.jpg' | relative_url }}" />
                    <div class="project-caption">
                        
                    </div>
                </a>
            </div>
        </div>
       <div class="col-lg-4">
            <div class="single-project">
                
                
                
            </div>
        </div>
       <div class="col-lg-4">
            <div class="single-project">
                
                    
               
            </div>
        </div>
       <div class="col-lg-4">
            <div class="single-project">
                
                  
            </div>
        </div>
    </div>
</div>

<!-- gallery slider -->
