<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="{{ '/images/slider_image1.jpg' | relative_url }}" />
            <div class="slider_caption">
                <h4>Sunil Raj project caption goes to here </h4>
            </div>
        </div>
        <!-- item end -->
        <div class="item">
            <img src="{{ '/images/rot.JPG.jpg' | relative_url }}" />
            <div class="slider_caption">
                <h4>Sunil Raj project caption goes to here </h4>
            </div>
        </div>
        <!-- item end -->
        <div class="item">
            <img src="{{ '/images/IMG_2996.jpg' | relative_url }}" />
            <div class="slider_caption">
                <h4>Sunil Raj project caption goes to here </h4>
            </div>
        </div>
        <!-- item end -->
        <div class="item">
            <img src="{{ '/images/slide_image3.jpg' | relative_url }}" />
            <div class="slider_caption">
                <h4>Sunil Raj project caption goes to here </h4>
            </div>
        </div>
        <!-- item end -->
    </div>
  
    
    <!-- Controls -->
   <div class="slide_indecator">
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"></a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"> </a>
   </div>
  </div>