<div class="project">
    <div class="row">
       <div class="col-lg-4">
            <div class="single-project">
                <a href="https://pvsslr.github.io/tutorials/cubesat/" title="{{ filename }}">
                    <img src="{{ '/images/cubesat.png' | relative_url }}" />
                    <div class="project-caption">
                        <p>TUTORIAL #1</p>
                    </div>
                </a>
            </div>
        </div>
       <div class="col-lg-4">
            <div class="single-project">
                <a href="#" title="{{ filename }}">
                    <img src="{{ '/images/soon.png' | relative_url }}" />
                    <div class="project-caption">
                        <p>TUTORIAL #2</p>
                    </div>
                </a>
            </div>
        </div>
       <div class="col-lg-4">
            <div class="single-project">
                <a href="#" title="{{ filename }}">
                    <img src="{{ '/images/soon.png' | relative_url }}" />
                    <div class="project-caption">
                        <p>TUTORIAL #3</p>
                    </div>
                </a>
            </div>
        </div>
       <div class="col-lg-4">
            <div class="single-project">
                <a href="#" title="{{ filename }}">
                    <img src="{{ '/images/soon.png' | relative_url }}" />
                    <div class="project-caption">
                        <p>TUTORIAL #4</p>
                    </div>
                </a>
            </div>
        </div>
       <div class="col-lg-4">
            <div class="single-project">
                <a href="#" title="{{ filename }}">
                    <img src="{{ '/images/soon.png' | relative_url }}" />
                    <div class="project-caption">
                        <p>TUTORIAL #5</p>
                    </div>
                </a>
            </div>
        </div>
       <div class="col-lg-4">
            <div class="single-project">
                <a href="#" title="{{ filename }}">
                    <img src="{{ '/images/soon.png' | relative_url }}" />
                    <div class="project-caption">
                        <p>TUTORIAL #6</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- gallery slider -->
